@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

p,h1,ul,a{
	color:rosybrown;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
}
p,ul,a{
	font-family: "Caveat", serif;  
}

ul,img,h1,p{
	border:2px solid rosybrown;	
	
}
header,body{
	background-color:wheat;
}


#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80vh;
    gap: 10px;
}

@media (max-width: 768px) {
    #grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    #grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}

#item11{
	background-color:wheat;
	grid-row:4;
	grid-column: 4;
	text-align:center;
	font-size:18px;
}
#item5{
	background-color:wheat;
	grid-row: 3;
	grid-column: 2/4;
	text-align:center;
	font-size:18px;
	
}
#item2
{
	background-color:wheat;
	grid-row: 2/3;
	grid-column: 1/3;
	text-align:center;
	font-size:18px;


}
#item3
{
	background-color:wheat;
	grid-row: 3;
	grid-column:1;
	text-align:center;
	font-size:18px;


}

#item4
{
	background-color:wheat;
	grid-column: 1/5;
	grid-row: 2;
	text-align:center;
	margin-top: 30px;
	margin-bottom:30px;
	font-size:2em;

}
#item1
{
	background-color:wheat;
	grid-column: 1/5;
	grid-row:4;
	text-align:center;
	font-size:18px;

}
#item6
{
	background-color:wheat;
	grid-column: 1;
	grid-row:1;
	text-align:center;
	font-size:3em;
	border:2px solid rosybrown;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: background-color 0.3s ease-in-out;
}
#item7
{
	background-color:wheat;
	grid-column:2;
	grid-row:1;
	text-align:center;
	font-size:3em;
	border:2px solid rosybrown;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: background-color 0.3s ease-in-out;
}

#item7:hover, #item6:hover {
    background-color: #faeed9;
}
#item8
{
	background-color:wheat;
	grid-column:1/2;
	grid-row:3;
	text-align:center;

}
#item9
{
	background-color:wheat;
	grid-column:3/4;
	grid-row:3;
	text-align:center;
	margin-top:5px

}
#item10
{
	background-color:wheat;
	grid-column:4;
	grid-row:3;
	text-align:center;
	margin-top:5px

}
#item1
{
	background-color:wheat;
	grid-column:1/5;
	grid-row:4;
	text-align:center;
	margin-top:5px

}
#item0
{
	background-color:wheat;
        grid-column:4/5;
        grid-row:1;
        text-align:center;
        margin-top:5px
}
#item12
{
	background-color:wheat;
        grid-column:2/3;
        grid-row:3;
        text-align:center;
        margin-top:5px

}
#item13{
	background-color:wheat;
        grid-column:4/5;
        grid-row:3;
        text-align:center;
        margin-top:5px

}
