body{
	background-color:cornsilk;width:350px;
}
body{
	
	color:rosybrown;
}

a{
	color:rosybrown;

}
header{
	background-color:wheat;
}
        
td,th,table,h1,h2{
	border:2px solid;
}
section{
	background-color:wheat;
}
	
ul{
	background-color:wheat;width:55px;
}

