	body{background-color:cornsilk;width:350px}
        
	header{background-color:wheat}
        
	td,th,table,h1,h2{border:2px solid;
        
	border-collapse;collapse;}
	section{background-color:wheat}
	
	ul{background-color:wheat;width:55px}

